@model List<MVC.Entity.Education>

@section Tabs {
	<div class="tabs">
		<a class="tab active" data-tooltip="users" method="get" asp-controller="Education" asp-action="GetEducationList">
			AboutCourse
		</a>
		<a class="tab" data-tooltip="adduser" method="get" asp-controller="Education" asp-action="AddEducation">
			Add AboutCourse
		</a>
		<a class="tab" data-tooltip="usercourse" method="get" asp-controller="Education" asp-action="UpdateEducation">
			Edit AboutCourse
		</a>
		<a class="tab" data-tooltip="userresult" method="get" asp-controller="Education" asp-action="DeleteEducation">
			Delete AboutCourse
		</a>
	</div>
}

<table class="user-table">
	<thead>
	<tr>
		<th>Id</th>
		<th>Title</th>
		<th>End</th>
		<th>Description</th>
		<th>Course Name</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var education in Model)
	{
		<tr>
			<td>@education.Id</td>
			<td>@education.Title</td>
			<td>@education.End</td>
			<td>@education.Description</td>
			<td>@education.Course.Description</td>
		</tr>
	}
	</tbody>
</table>
