@model MVC.Entity.Lesson

<head>
	<style>
		option {
			background: #1f1f1f;
			color: white;
		}
	</style>
</head>

@section Tabs {
	<div class="tabs">
		<a class="tab" data-tooltip="users" method="get" asp-controller="Lesson" asp-action="GetLessons">
			Lessons
		</a>
		<a class="tab" data-tooltip="adduser" method="get" asp-controller="Lesson" asp-action="AddLesson">
			Add Lesson
		</a>
		<a class="tab active" data-tooltip="usercourse" method="get" asp-controller="Lesson" asp-action="UpdateLesson">
			Edit Lesson
		</a>
		<a class="tab" data-tooltip="userresult" method="get" asp-controller="Lesson" asp-action="DeleteLesson">
			Delete Lesson
		</a>
	</div>
}


<h2>Edit AboutCourse Information</h2>

<form action="@Url.Action("UpdateLesson", "Lesson")" method="post">
	<input type="hidden" name="id" value="@Model.Id" />

	<div>
		<input class="input" type="text" id="title" name="title" value="@Model.Title" />
	</div>

	<div>
		<input class="input" type="text" id="videoUrl" name="videoUrl" value="@Model.VideoUrl" />
	</div>

	<div>
		<input class="input" type="text" id="information" name="information" value="@Model.Information" />
	</div>
	
	<label for="CourseId">Select a Course:</label>
	<select class="form-control" id="courseId" name="courseId" style="background:none; color:white; padding:5px; margin-left:5px;margin-top:20px">
		<option value="">@Model.Course.Description"</option>
		@foreach (var course in ViewBag.CourseList)
		{
			if (course.Description != Model.Course.Description)
			{
				<option value="@course.Id">@course.Description</option>
			}
		}
	</select>

	<div>
		<button type="submit" style="margin-top:20px" class="confirm">Update</button>
	</div>
</form>